<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备管理系统主页</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="/main/static/css/jquery.treeview.css">
    <script src="/main/static/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="/main/static/js/jquery-3.2.1.js" type="text/javascript"></script>
    <script src="/main/static/js/jquery.treeview.js" type="text/javascript"></script>
<style type="text/css">
    b{text-align: center}
    tabtop13a {
                  margin-top: 13px;
                   text-align: center;

                  }
        .tabtop13a td{
                  background-color:#ffffff;
                  height:25px;
                  line-height:150%;
                  text-align: center;

                   }
        .biaotia{
        font-family: 微软雅黑;
        font-size: 26px;
        font-weight: bold;

        color: #255e95;
}
        .btbga{background:#e9faff !important;}
        .font-centera{ text-align:center}
        .titfonta {
               font-family: 微软雅黑;
               font-size: 16px;
               font-weight: bold;
               color: #255e95;
               background-color:#255e95;
                }
    .biaoti{
        font-family: 微软雅黑;
        font-size: 26px;
        font-weight: bold;
        border-bottom:1px dashed #CCCCCC;
        color: #255e95;
}
    .btbg{background:#e9faff !important;}
    .font-center{ text-align:center}
    .titfont {
               font-family: 微软雅黑;
               font-size: 16px;
               font-weight: bold;
               color: #255e95;
               background-color:#255e95;
                }
    .size{
            font-size: 21px;
            color: rgba(128, 128, 128, 0.87);
        }
    .ta{
            position: relative;
            text-align: center;
        }
    .f{

            background-color: #bffaff;
            position: relative;
            border-radius:10px;
            width: 400px;
            margin: 0 auto;
            padding: 30px 0 30px 0;
            text-align: center;
            cursor: pointer;
        }
        .f1{
            position: relative;
            text-align: center;
        }
    a{
            text-decoration: none;
            cursor: pointer;
            position: relative;
            color: #255e95;
        }
    .super1{
        cursor: pointer;
    }
    p{
            position: relative;
            padding: 15px 10px 10px 20px;
            margin: -20px -8px 15px ;
            font-size: 30px;
            background-color: #bee7ff;

        }
    p3 {
            text-align: center ;

            color: rgba(128,128,128,0.87);
            font-size: 30px;

           }
    .bgc{

            text-shadow: none;
            border-radius:3px;
            border:1px solid rgba(128,128,128,0.35);
            height: 22px;
        }
    .small {
            width: 171.1px;
            height: 27px;
            position: relative;
            cursor: pointer;
            border-radius: 3px;
            border-color: rgba(128,128,128,0.35);
        }
    .sub1{
            cursor: pointer;
            border-radius:3px;
            border:none;
            background-color: #4c50ff;
            color: white;
            height: 30px;
            position: relative;
            width: 50px;

              }
      .sub{text-align: center}

</style>
</head>
<body >
<p>Table of User Authority</p>

<script type="text/javascript">
     function blanktext()
        {
            var a = document.getElementById("filed1").value;
            var b = document.getElementById("filed2").value;
            var c = document.getElementById("filed3").value;


            if (a == ""||b==""||c=="")
            {
                alert("信息输入不能为空");
                return false
            }
            else
                {
                    alert("保存成功")
                }
        }
        function blanktext1()
        {
            var a = document.getElementById("fileda").value;
            var b = document.getElementById("filedb").value;
            var c = document.getElementById("filedc").value;
            var d = document.getElementById("filedd").value;
            var e = document.getElementById("filede").value;


            if (a == ""||b==""||c==""||d==""||e=="")
            {
                alert("信息输入不能为空");
                return false
            }
            else
                {
                    alert("保存成功")
                }
        }
        function blanktext2()
        {
            var a = document.getElementById("filed11").value;
            var b = document.getElementById("filed22").value;
            var c = document.getElementById("filed33").value;
            var d = document.getElementById("filed44").value;
            var e = document.getElementById("filed55").value;

            var g = document.getElementById("filed77").value;
            var h = document.getElementById("filed88").value;
            var i = document.getElementById("filed99").value;
            var j = document.getElementById("filed10").value;
            var k = document.getElementById("filed11").value;
            var l = document.getElementById("filed12").value;


            if (a == "" || b == "" || c == "" || d == "" || e == "" || g == "" || h == "" || i == "" || j == "" || k == "" || l == "" )
            {
                alert("信息输入不能为空");
                return false
            }
            else
                {
                    alert("保存成功");
                }
        }
         function blanktext3()
        {
            var a = document.getElementById("filed111").value;
            var b = document.getElementById("filed222").value;
            var c = document.getElementById("filed333").value;


            if (a == ""||b==""||c=="")
            {
                alert("信息输入不能为空");
                return false
            }
            else
                {
                    alert("保存成功")
                }
        }
         function conserve()
    {
     var a=document.getElementById("t").value;


     if (a == "")
            {
                alert("信息输入不能为空");
                return false
            }
     else
           {
                if(confirm("您确定要保存此类型吗？")==false)
                {return false}

           }
    }
</script>
<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td align="center" class="biaoti" height="60">用户权限表</td>
  </tr>
  <tr>
    <td align="right" height="25"></td>
  </tr>
</table>

<table width="90%" border="0" cellspacing="1" cellpadding="3" bgcolor="#cccccc" class="tabtop13" align="center">
  <tr>
    <td width="10%" class="btbg font-center titfont" rowspan="2" id="shcool"><a>添加学校</a></td>
     <td width="10%" class="btbg font-center titfont" rowspan="2"  id="adddevicetype"><a >添加设备类型</a></td>
    <td width="10%" class="btbg font-center titfont" rowspan="2" id="room"><a>添加房间</a></td>
    <td width="10%" class="btbg font-center titfont" rowspan="2" id="adduser"><a>添加用户</a></td>
    <td width="10%" class="btbg font-center titfont" rowspan="2" id="addlook" ><a>报废处理</a><br></td>
    <td width="10%" class="btbg font-center titfont super1" rowspan="2" id="adddeviceinfo" ><a>添加设备信息</a><br></td>
    <td width="10%" class="btbg font-center titfont super1" rowspan="2" id="super" >超级管理员</td>

  </tr>
</table>
<br>
<div class="f" id="addschool">
<p3>添加学校</p3>
<hr style=" height:2px;border:none;border-top:2px solid rgba(128,128,128,0.35);" />
    <form method="post" action="{% url 'webapp:school' %}"    class="f1" >
    {% csrf_token %}
    <table class="ta" width="320px" align="center" >
    <label>

    </label>

    <label >
       <tr> <td height="35px" class="size">学校名字：</td><td height="35px" ><input type="text" name="schoolname" id="fileda" class="bgc" onkeyup="this.value=this.value.replace(/\s+/g,'')" /></td></tr>
    </label>
    <label>
       <tr> <td height="35px" class="size">学校注册号：</td><td height="35px"><input type="text" name="schoolregister" id="filedb" class="bgc" onkeyup="this.value=this.value.replace(/\s+/g,'')" /></td></tr>
    </label>
    <label>
        <tr> <td height="35px" class="size">学校的状态: </td><td height="35px"><input type="text" name="schoolstatus" id="filedc" class="bgc" onkeyup="this.value=this.value.replace(/\s+/g,'')"/></td></tr>
    </label>
    <label>
        <tr> <td height="35px" class="size">学校负责人id: </td><td height="35px"><input type="text" name="schoolresper" id="filedd" class="bgc" onkeyup="this.value=this.value.replace(/\s+/g,'')"/></td></tr>
    </label>
    <label>
        <tr> <td height="35px" class="size">学校联系电话: </td><td height="35px"><input type="number" name="schooltel" id="filede" class="bgc" onkeyup="this.value=this.value.replace(/\s+/g,'')"/></td></tr>
    </label>
    <br>
        </table>
    <label>
        <input type="reset" value="重&nbsp;置" class="sub"/>
    </label>
    &nbsp; &nbsp; &nbsp;
    <label>
    <input type="submit" value="保&nbsp;存" onclick="return blanktext1()" class="sub"/>
    </label>

</form>
</div>
<div class="f" id="addroom">
<p3>添加房间</p3>
<hr style=" height:2px;border:none;border-top:2px solid rgba(128,128,128,0.35);" />
    <form method="post" action="{% url 'webapp:room' %}"   class="f1" >
    {% csrf_token %}
    <table class="ta" width="320px" align="center" >

    <label >
       <tr> <td height="35px" class="size">学校id：</td><td height="35px" ><input type="number" name="schoolid" id="filed1" class="bgc" onkeyup="this.value=this.value.replace(/\s+/g,'')" /></td></tr>
    </label>
    <label>
       <tr> <td height="35px" class="size">楼层名：</td><td height="35px"><input type="text" name="building" id="filed2" class="bgc" onkeyup="this.value=this.value.replace(/\s+/g,'')" /></td></tr>
    </label>
    <label>
        <tr> <td height="35px" class="size">房间名: </td><td height="35px"><input type="text" name="roomname" id="filed3" class="bgc" onkeyup="this.value=this.value.replace(/\s+/g,'')"/></td></tr>
    </label>

    <br>
        </table>
    <label>
        <input type="reset" value="重&nbsp;置" class="sub"/>
    </label>
    &nbsp; &nbsp; &nbsp;
    <label>
    <input type="submit" value="保&nbsp;存" onclick="return blanktext()" class="sub"/>
    </label>
<script type="text/javascript">
     $(document).ready(function(){
      $("#shcool").hide();
      $("#adddevicetype").hide();
      $("#addschool").hide();
      $("#addroom").hide();
      $("#user").hide();
      $("#deviceinfo").hide();
      $("#devicetype").hide();
      $("#look").hide();
      });

     $("#super").click(function () {

       $("#shcool").show()
       $("#adddevicetype").show()
      });
     $("#shcool").click(function () {

       $("#addschool").show()
       $("#addroom").hide()
       $("#user").hide()
       $("#deviceinfo").hide()
       $("#devicetype").hide();
       $("#look").hide();
      });
     $("#room").click(function () {

       $("#addschool").hide()
       $("#addroom").show()
       $("#deviceinfo").hide()
       $("#user").hide()
       $("#devicetype").hide();
       $("#look").hide();
      });
     $("#adduser").click(function () {

       $("#addschool").hide()
       $("#addroom").hide()
       $("#user").show()
       $("#deviceinfo").hide()
       $("#devicetype").hide();
       $("#look").hide();
      });
     $("#adddeviceinfo").click(function () {

       $("#addschool").hide()
       $("#addroom").hide()
       $("#user").hide()
       $("#deviceinfo").show()
       $("#devicetype").hide();
       $("#look").hide();
      });
      $("#adddevicetype").click(function () {

       $("#addschool").hide()
       $("#addroom").hide()
       $("#user").hide()
       $("#deviceinfo").hide()
       $("#devicetype").show();
       $("#look").hide();
      });
       $("#addlook").click(function () {

       $("#addschool").hide()
       $("#addroom").hide()
       $("#user").hide()
       $("#deviceinfo").hide()
       $("#devicetype").hide();
       $("#look").show();
      });

</script>
</form>
</div>

<div class="f" id="user">
<p3>账号注册</p3>
<hr style=" height:2px;border:none;border-top:2px solid rgba(128,128,128,0.35);" />
<form class="f1" action="{% url 'webapp:alter2' %}" method="post">
<table class="zhuce" align="center">


    <label>
       <tr><td class="size">账&nbsp;号</td><td class="size"> <input type="text" id="filed11" name="login_id" class="bgc" onkeyup="this.value=this.value.replace(/\s+/g,'')"
></td></tr>
    </label>
    <label>
        <tr><td class="size">密&nbsp;码</td><td class="size"><input type="text" id="filed22" name="password" class="bgc"  onkeyup="this.value=this.value.replace(/\s+/g,'')" /></td></tr>
    </label>
<label>
        <tr><td class="size">再次输入密码</td><td class="size"><input type="text" id="pass2" name="password1" class="bgc"  onkeyup="this.value=this.value.replace(/\s+/g,'')" /></td></tr>
    </label>
    <label>
        <tr><td class="size">姓&nbsp;名</td><td class="size"><input type="text" id="filed33" name="username" class="bgc"  onkeyup="this.value=this.value.replace(/\s+/g,'')"/></td></tr>
    </label>
    <label>
        <tr><td class="size">用户类型</td><td class="size"><input type="text" id="filed44" name="usertype" class="bgc"  onkeyup="this.value=this.value.replace(/\s+/g,'')"/></td></tr>
    </label>
    <label>
       <tr><td class="size"> 学&nbsp;校</td><td class="size"><input type="text" id="filed55" name="school" class="bgc"  onkeyup="this.value=this.value.replace(/\s+/g,'')"/></td></tr>
    </label>

    <label>
       <tr><td class="size">电子邮箱 </td><td class="size"><input type="email" id="filed77" name="email" class="bgc"  onkeyup="this.value=this.value.replace(/\s+/g,'')"/></td></tr>
    </label>
    <label>
        <tr><td class="size">电&nbsp;话</td><td class="size"><input type="number" id="filed88" name="tel" class="bgc"  onkeyup="this.value=this.value.replace(/\s+/g,'')"/></td></tr>
    </label>
    <label>
       <tr><td class="size"> 微&nbsp;信</td><td class="size"><input type="text" id="filed99" name="weichat" class="bgc"  onkeyup="this.value=this.value.replace(/\s+/g,'')"/></td></tr>
    </label>
    <label>
       <tr><td class="size"> Q&nbsp;Q</td><td class="size"><input type="number" id="filed10" name="qq" class="bgc"  onkeyup="this.value=this.value.replace(/\s+/g,'')"/></td></tr>
    </label>
    <label>
       <tr><td class="size"> 权限名称</td><td class="size"><input type="text" id="filed11" name="authorityname" class="bgc"  onkeyup="this.value=this.value.replace(/\s+/g,'')"/></td></tr>
    </label>
    <label>
        <tr><td class="size">权限代码</td><td class="size"><input type="text" id="filed12" name="authoritycode" class="bgc"  onkeyup="this.value=this.value.replace(/\s+/g,'')"/></td></tr>
    </label>
</table>
    <label>
    <br>
        <input type="submit" value="保&nbsp;存" class="baocun" onclick="return blanktext2()"/>&nbsp;&nbsp;
        <input type="reset" value="重&nbsp;置" class="chongzhi">
    </label>

</form>
</div>

<div class="f" id="deviceinfo">
<p3 >添加设备信息系统</p3>
<hr style=" height:2px;border:none;border-top:2px solid rgba(128,128,128,0.35);" />
<form method="post"   action="{% url 'webapp:alter' %}" class="f1" >
    {% csrf_token %}
    <table class="ta" width="320px" align="center" >
    <label>
     <tr> <td height="30px" class="size" id="devicename" >设备名称：</td><td>
        <select class="small">
        <option value="" selected=" selected "></option>
             {% for dtypes in dtype %}
            <option value="{{ dtypes.typename }}">{{ dtypes.typename }}</option>
             {% endfor %}
        </select></td></tr>
    </label>

    <label >
       <tr> <td height="35px" class="size">设备编号：</td><td height="35px" ><input type="text" name="number" id="filed111" class="bgc" onkeyup="this.value=this.value.replace(/\s+/g,'')" /></td></tr>
    </label>
    <label>
       <tr> <td height="35px" class="size">设备单价：</td><td height="35px"><input type="text" name="univalence" id="filed222" class="bgc" onkeyup="this.value=this.value.replace(/\s+/g,'')" /></td></tr>
    </label>
    <label>
        <tr> <td height="35px" class="size">传感器编号: </td><td height="35px"><input type="text" name="sensorid" id="filed333" class="bgc" onkeyup="this.value=this.value.replace(/\s+/g,'')"/></td></tr>
    </label>
    <br>
        </table>
    <label>
        <input type="reset" value="重&nbsp;置" class="sub"/>
    </label>
    &nbsp; &nbsp; &nbsp;
    <label>
    <input type="submit" value="保&nbsp;存" onclick="return blanktext3()" class="sub"/>
    </label>

</form>
</div>

<div class="f" id="devicetype">
<p3 >添加设备类型</p3>
<hr style=" height:2px;border:none;border-top:2px solid rgba(128,128,128,0.35);" />
<form method="post" action="{% url 'webapp:alter4' %}" class="f">
    {% csrf_token %}
    <table align="center">
     <tr>
    <label>
      <td align="center" class="size">设备类型：</td>  <td><input type="text" placeholder="请输入设备类型" class="bgc" id="t" name="typename"onkeyup="this.value=this.value.replace(/\s+/g,'')"/></td>
    </label>
    </tr>

    </table>
    <br>
    <label>
        <input type="submit" value="保存" class="sub" onclick="return conserve()" >
    </label>
</form>
</div>

<div id="look" >
<ul id="tree" class="filetree treeview-famfamfam" >
    <li class="folder"><span class="folder">系统设备信息查询</span>

            <ul>
                  {% for dtypes in dtype %}

                <li ><span class="folder" id="{{ dtypes.id }}">{{ dtypes.typename }}</span>

                    <ul>
                        <li ><span class="file" id="s{{ dtypes.id }}" style="cursor: pointer">{{ dtypes.typename }}信息表</span></li>
                    </ul>

                </li>
                 {% endfor %}
            </ul>

    </li>
</ul>

<script type="text/javascript">
    function del1()
    {
        if(confirm("您确定要删除这些内容吗？删除之后将不再显示！")==false)
        {
            return false
        }
    }
</script>

<form method="post" action="{% url 'webapp:dele' %}" class="sub">
{% csrf_token %}
{% for dtypes in dtype %}
<div id="d{{ dtypes.id }}" align="center">
<script type="text/javascript" >

  document.write("</br>");
  document.write("<table id='t{{ dtypes.id }}' width='80%' border='0' cellspacing='0' cellpadding='0' align='center'>")
  document.write("<tr> <td  align='center' class='biaotia' height='60'>{{ dtypes.typename }}信息表</td> </tr> ")

  document.write( "</table>")
  document.write("<table class='tabtop13a' id='myTable'  width='80%' border='0' align='center' cellspacing='1' cellpadding='4' bgcolor='#cccccc'>")
  document.write("<td class='btbga font-centera titfonta'>检查人</td>")
  document.write("<td class='btbga font-centera titfonta'>设备编号</td>")
  document.write("<td class='btbga font-centera titfonta'>学校id</td>")
  document.write("<td class='btbga font-centera titfonta'>传感器id</td>")
  document.write("<td class='btbga font-centera titfonta'>设备单价</td>")
  document.write("<td class='btbga font-centera titfonta'>选择栏</td>")
  document.write("<tr>")


    var a="{{ dtypes.id }}";
      {% for infos in info %}
    var b="{{ infos.status }}"
    if ((a=={{ infos.typeid }})&&b==3)
    {
        document.write("<tr>")
        document.write("<td>{{ infos.checkername }}</td>")
        document.write("<td>{{ infos.number }}</td>")
        document.write("<td>{{ infos.schoolid }}</td>")
        document.write("<td>{{ infos.sensorid }}</td>")
        document.write("<td>{{ infos.univalence }}</td>")
        document.write(" <td><input type='checkbox' value='{{ infos.number }}' name='checkbox1' id='tyy'></td>")

    }
  {% endfor %}

  document.write("</tr>")
document.write("</table>")

  </script>
</div>
{% endfor %}
<br>
<b><input type = 'submit' value = '删&nbsp;除' onclick="return del1()" id="del11" class="sub1" ></b>
</form>


  <script type="text/javascript">

  $(document).ready(function(){
      $("#tree").treeview({
         toggle: function() {
            console.log("%s was toggled.", $(this).find(">span").text());
         }
      });
      });

  $(document).ready(function(){
      {% for dtypes in dtype %}
      $("#d{{ dtypes.id }}").hide();
        {% endfor %}
      $("#del11").hide()
      });

  $(document).ready(function(){

      {% for dtypes in dtype  %}

      $("#s{{ dtypes.id }}").click(function(){
          {% for dtypes2 in dtype %}
              $("#d{{ dtypes2.id }}").hide()
          {% endfor %}

          $("#d{{ dtypes.id }}").show()
          $("#del11").show()
          });
      $("#{{ dtypes.id }}").click(function () {
          if($("#d{{ dtypes.id }}").is(":visible"))
          {
              $("#del11").hide()
          }
          $("#d{{ dtypes.typeid }}").hide()

      });
      {% endfor %}

      });
  </script>
</div>
</body>
</html>